{
	"env": {
		"browser": false,
		"es2020": true
	},
	"extends": [
		"eslint:recommended",
		"react-app",
		"prettier",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react",
		"prettier"
	],
	"rules": {
		"no-useless-escape": "off",
		"prettier/prettier": "error",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"react/no-unescaped-entities": "off"
	},
	"ignorePatterns": ["public/**", "*.d.ts", "node_modules/**"]
}
